Repository tangxiangong/bibcitex: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --all
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: dx-fmt
        name: dx fmt
        description: Format rsx macros
        entry: bash -c 'dx fmt'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-sort
        name: cargo sort
        description: Sort dependencies in Cargo.toml
        entry: bash -c 'cargo sort -w -o workspace,package'
        language: rust
        files: Cargo.toml
        args: []

build(deps): update dependencies to latest versions
  Cargo.lock
Due: none

build(deps): update daisyui and tailwindcss to latest versions
  deno.json
  deno.lock
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  assets/tailwind.css
Due: none

chore: update version to 0.5.4 in Cargo.lock, Cargo.toml, and README.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-sort

fix: update pre-commit hooks to use src-tauri directory for cargo commands
  .pre-commit-config.yaml
Due: none

feat: Implement core bibliography management features
  Cargo.lock
  Cargo.toml
  crates/bibcitex-core/Cargo.toml
  crates/xpaste/Cargo.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/core/bib.rs
  src-tauri/src/core/error.rs
  src-tauri/src/core/filter.rs
  src-tauri/src/core/mod.rs
  src-tauri/src/core/search.rs
  src-tauri/src/core/setting.rs
  src-tauri/src/core/utils.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/xpaste/macos.rs
  src-tauri/src/xpaste/mod.rs
  src-tauri/src/xpaste/windows.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

chore: remove unused configuration files and development documentation
  .vscode/settings.json
  .zed/settings.json
  DEVELOPMENT.md
Due: none

feat(helper): add native floating panel support for macOS using tauri-nspanel
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/routes/helper/+page.svelte
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

fix(helper): improve container height calculation and reactive resizing
  src/routes/helper/+page.svelte
Due: none

chore: remove tailwind.css file to streamline asset management
  assets/tailwind.css
Due: none

chore: Remove Justfile
  Justfile
Due: none

fix: Update README to reflect asset relocation and improve clarity
  README.md
Due: none

chore: Update dependencies in Cargo.lock
  src-tauri/Cargo.lock
Due: none

feat: Implement native application menu with update check and standard edit actions, refactor updater modal, and adjust UI elements.
  src-tauri/capabilities/default.json
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/Bibliographies.tsx
  src/components/References.tsx
  src/pages/DetailPage.tsx
  src/pages/HomePage.tsx
Due: cargo-fmt, cargo-clippy, dx-fmt

feat: Improve helper window resizing, hide instead of close, and update styling.
  src-tauri/src/commands.rs
  src/app.css
  src/pages/HelperPage.tsx
Due: cargo-fmt, cargo-clippy, dx-fmt

chore: Update dependencies in deno.json, deno.lock, and package.json
  deno.json
  deno.lock
  package.json
  src-tauri/Cargo.lock
Due: none

chore: update npm and cargo dependencies to latest versions
  deno.json
  deno.lock
  package.json
  src-tauri/Cargo.lock
Due: none

chore: update dependencies to latest versions
  deno.json
  deno.lock
  package.json
  src-tauri/Cargo.lock
Due: none

chore(deps): update npm and cargo dependencies to latest versions
  deno.json
  deno.lock
  package.json
  src-tauri/Cargo.lock
Due: none

refactor: enhance helper window functionality and styling
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/app.css
  src/layouts/MainLayout.tsx
  src/pages/HelperPage.tsx
  src/tauri.ts
Due: cargo-fmt, cargo-clippy, dx-fmt

style: enhance helper window appearance with corner radius and transparency
  src-tauri/src/commands.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

feat: overhaul update UX, redesign AddBibliography modal, and polish UI
  .github/workflows/release.yml
  index.html
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/AddBibliography.tsx
  src/components/Bibliographies.tsx
  src/components/Nav.tsx
  src/components/updater/UpdateBanner.tsx
  src/components/updater/UpdaterModal.tsx
  src/components/updater/index.ts
  src/layouts/MainLayout.tsx
  src/tauri.ts
Due: cargo-fmt, cargo-clippy, dx-fmt

fix: update frontendDist path in tauri configuration from '../build' to '../dist'
  src-tauri/tauri.conf.json
Due: none

chore: update download links and improve table formatting in README
  README.md
Due: none

Add Claude Code Action workflow
  .github/workflows/Claude.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Remove incorrect Claude GitHub workflows from the repository
  .github/workflows/Claude.yml
Due: none

Fix review regressions and stabilize checks
  src-tauri/src/commands.rs
  src-tauri/src/core/bib.rs
  src-tauri/src/core/setting.rs
  src-tauri/src/lib.rs
  src/components/Bibliographies.tsx
  src/components/Drawer.tsx
  src/components/drawer/ArticleDrawer.tsx
  src/components/drawer/BookDrawer.tsx
  src/components/drawer/BookletDrawer.tsx
  src/components/drawer/InBookDrawer.tsx
  src/components/drawer/InCollectionDrawer.tsx
  src/components/drawer/InProceedingsDrawer.tsx
  src/components/drawer/MiscDrawer.tsx
  src/components/drawer/TechReportDrawer.tsx
  src/components/drawer/ThesisDrawer.tsx
  src/components/drawer/UnimplementedDrawer.tsx
  src/components/helper/ArticleHelper.tsx
  src/components/helper/BookHelper.tsx
  src/components/helper/BookletHelper.tsx
  src/components/helper/InBookHelper.tsx
  src/components/helper/InCollectionHelper.tsx
  src/components/helper/InProceedingsHelper.tsx
  src/components/helper/MiscHelper.tsx
  src/components/helper/TechReportHelper.tsx
  src/components/helper/ThesisHelper.tsx
  src/components/helper/UnimplementedHelper.tsx
  src/components/reference/Article.tsx
  src/components/reference/Book.tsx
  src/components/reference/Booklet.tsx
  src/components/reference/InBook.tsx
  src/components/reference/InCollection.tsx
  src/components/reference/InProceedings.tsx
  src/components/reference/Misc.tsx
  src/components/reference/TechReport.tsx
  src/components/reference/Thesis.tsx
  src/components/reference/Unimplemented.tsx
Due: cargo-fmt, cargo-clippy, dx-fmt

Add AGENTS.md for project documentation and development guidance
  AGENTS.md
Due: none

chore: update dependencies
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: none

assets: add bibcitex.fig asset to the project
  assets/bibcitex.fig
Due: none

docs(ui): document BibCiTeX redesign
  docs/superpowers/specs/2026-05-15-bibcitex-ui-redesign-design.md
Due: none

chore: add `.superpowers` to `.gitignore`
  .gitignore
Due: none

build(ui): add theme and icon dependencies
  bun.lock
  package.json
Due: none
