Repository tangxiangong/bibcitex: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --all
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: dx-fmt
        name: dx fmt
        description: Format rsx macros
        entry: bash -c 'dx fmt'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-sort
        name: cargo sort
        description: Sort dependencies in Cargo.toml
        entry: bash -c 'cargo sort -w -o workspace,package'
        language: rust
        files: Cargo.toml
        args: []

feat(theme): use Catppuccin daisyUI themes
  src/app.css
  src/catppuccinTheme.latte.ts
  src/catppuccinTheme.mocha.ts
Due: none

feat(theme): apply global latte and mocha modes
  src/context/AppContext.tsx
Due: none

feat(ui): add SVG icon primitives
  src/components/ui/IconButton.tsx
  src/components/ui/SvgIcon.tsx
Due: none

feat(reference): add semantic styling maps
  src/components/reference/semantic.ts
Due: none

feat(workbench): add selection and pane state
  src/context/AppContext.tsx
Due: none

feat(workbench): add three-pane reference browser
  src/components/workbench/LibraryPane.tsx
  src/components/workbench/ReferenceDetailPane.tsx
  src/components/workbench/ReferenceListPane.tsx
  src/components/workbench/ReferenceMetadata.tsx
  src/components/workbench/ReferenceRow.tsx
  src/components/workbench/WorkbenchPage.tsx
Due: none

feat(workbench): route main pages to workbench
  src/pages/DetailPage.tsx
  src/pages/HomePage.tsx
Due: none

feat(ui): align shell controls with redesign
  src/components/AddBibliography.tsx
  src/components/Drawer.tsx
  src/components/Nav.tsx
  src/components/ui/SvgIcon.tsx
  src/components/updater/UpdateBanner.tsx
Due: none

feat(helper): redesign citation command palette
  src/pages/HelperPage.tsx
Due: none

refactor(ui): remove emoji icons and decorative effects
  src/components/Bibliographies.tsx
  src/components/helper/ArticleHelper.tsx
  src/components/helper/BookHelper.tsx
  src/components/helper/BookletHelper.tsx
  src/components/helper/InBookHelper.tsx
  src/components/helper/InCollectionHelper.tsx
  src/components/helper/InProceedingsHelper.tsx
  src/components/helper/MiscHelper.tsx
  src/components/helper/UnimplementedHelper.tsx
  src/components/reference/Article.tsx
  src/components/reference/Book.tsx
  src/components/reference/Booklet.tsx
  src/components/reference/InBook.tsx
  src/components/reference/InCollection.tsx
  src/components/reference/InProceedings.tsx
  src/components/reference/Misc.tsx
  src/components/reference/TechReport.tsx
  src/components/reference/Thesis.tsx
  src/components/reference/Unimplemented.tsx
Due: none

fix(ui): polish redesigned workbench verification
  src/components/workbench/WorkbenchPage.tsx
Due: none

docs(ui): add redesign implementation plan
  docs/superpowers/plans/2026-05-15-bibcitex-ui-redesign.md
Due: none

docs(helper): document helper window behavior
  docs/superpowers/specs/2026-05-15-bibcitex-helper-window-design.md
Due: none

feat(helper): make helper spotlight-like
  src-tauri/src/commands.rs
  src-tauri/src/lib.rs
  src/pages/HelperPage.tsx
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(ui): remove icon button tooltips
  src/components/Nav.tsx
  src/components/ui/IconButton.tsx
Due: none

docs: correct agent guides and add rust check commands
  AGENTS.md
  CLAUDE.md
Due: none

refactor: remove unused bibliography components Co-authored-by: Codex <noreply@openai.com>
  AGENTS.md
  CLAUDE.md
  src/components/Bibliographies.tsx
  src/components/References.tsx
  src/components/drawer/ArticleDrawer.tsx
  src/components/drawer/BookDrawer.tsx
  src/components/drawer/BookletDrawer.tsx
  src/components/drawer/InBookDrawer.tsx
  src/components/drawer/InCollectionDrawer.tsx
  src/components/drawer/InProceedingsDrawer.tsx
  src/components/drawer/MiscDrawer.tsx
  src/components/drawer/TechReportDrawer.tsx
  src/components/drawer/ThesisDrawer.tsx
  src/components/drawer/UnimplementedDrawer.tsx
  src/components/helper/ArticleHelper.tsx
  src/components/helper/BookHelper.tsx
  src/components/helper/BookletHelper.tsx
  src/components/helper/HelperSelector.tsx
  src/components/helper/InBookHelper.tsx
  src/components/helper/InCollectionHelper.tsx
  src/components/helper/InProceedingsHelper.tsx
  src/components/helper/MiscHelper.tsx
  src/components/helper/TechReportHelper.tsx
  src/components/helper/ThesisHelper.tsx
  src/components/helper/UnimplementedHelper.tsx
  src/components/reference/Article.tsx
  src/components/reference/Book.tsx
  src/components/reference/Booklet.tsx
  src/components/reference/InBook.tsx
  src/components/reference/InCollection.tsx
  src/components/reference/InProceedings.tsx
  src/components/reference/Misc.tsx
  src/components/reference/ReferenceSelector.tsx
  src/components/reference/TechReport.tsx
  src/components/reference/Thesis.tsx
  src/components/reference/Unimplemented.tsx
  src/components/updater/index.ts
Due: none

fix: remove unnecessary return
  src-tauri/src/commands.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

chore: bump dependencies and update lockfiles
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: none

chore: bump pillow to 12.2.0
  icon-gen/pyproject.toml
  icon-gen/uv.lock
Due: none

chore: update deps
  bun.lock
  package.json
  src-tauri/Cargo.lock
Due: none

docs(helper): document native Swift helper design
  docs/superpowers/specs/2026-06-16-bibcitex-native-swift-helper-design.md
Due: none

fix(tauri): propagate helper bibliography errors and guard helper theme sync
  src-tauri/src/commands.rs
  src-tauri/src/error.rs
  src/context/AppContext.tsx
Due: cargo-fmt, cargo-clippy, dx-fmt

feat(tauri): replace macOS helper window path with native Swift pipeline
  docs/superpowers/plans/2026-06-16-bibcitex-native-swift-helper.md
  macos/NativeHelper/Package.swift
  macos/NativeHelper/Sources/NativeHelper/BibCiTeXNativeHelper.swift
  macos/NativeHelper/Sources/NativeHelper/HelperView.swift
  macos/NativeHelper/Sources/NativeHelper/HelperViewModel.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperFFI.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperModels.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperPanelController.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperTheme.swift
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/lib.rs
  src-tauri/src/native_helper/bridge.rs
  src-tauri/src/native_helper/ffi.rs
  src-tauri/src/native_helper/mod.rs
  src-tauri/src/native_helper/state.rs
  src-tauri/tauri.conf.json
  src/tauri.ts
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

chore: remove icon-gen directory and its contents
  icon-gen/.gitignore
  icon-gen/.python-version
  icon-gen/README.md
  icon-gen/font/lmromancaps.otf
  icon-gen/logo.py
  icon-gen/main.py
  icon-gen/pyproject.toml
  icon-gen/uv.lock
Due: none

chore: add `.gitignore` for `NativeHelper`
  macos/NativeHelper/.gitignore
Due: none

fix(native-helper): prevent helper crash on open
  .cargo/config.toml
  macos/NativeHelper/Package.swift
  macos/NativeHelper/Sources/NativeHelper/BibCiTeXNativeHelper.swift
  macos/NativeHelper/Sources/NativeHelper/HelperView.swift
  macos/NativeHelper/Sources/NativeHelper/HelperViewModel.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperFFI.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperPanelController.swift
  macos/NativeHelper/Sources/NativeHelper/NativeHelperTheme.swift
  src-tauri/build.rs
  src-tauri/src/native_helper/bridge.rs
  src-tauri/src/native_helper/ffi.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

chore: update deps
  bun.lock
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: cargo-sort

chore: update deps and docs
  bun.lock
  docs/superpowers/plans/2026-05-15-bibcitex-ui-redesign.md
  docs/superpowers/plans/2026-06-16-bibcitex-native-swift-helper.md
  docs/superpowers/specs/2026-05-15-bibcitex-helper-window-design.md
  docs/superpowers/specs/2026-05-15-bibcitex-ui-redesign-design.md
  docs/superpowers/specs/2026-06-16-bibcitex-native-swift-helper-design.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: cargo-sort

fix(xpaste): satisfy Windows clippy checks
  crates/xpaste/src/windows.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

docs: clarify binding generation and branch checks
  bindings/README.md
  ci/README.md
Due: none

test(core): isolate parallel bibliography fixtures
  crates/bibcitex-core/src/core/bib.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(windows): clear references before switching libraries
  windows/BibCiTeX/MainWindow.cs
Due: none

fix(macos): defer SwiftUI binding state publication
  Justfile
  macos/BibCiTeX/Sources/BibCiTeX/HelperPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperTheme.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  macos/BibCiTeX/Tests/HelperViewModelRegression.swift
  macos/BibCiTeX/Tests/WorkbenchModelRegression.swift
  macos/BibCiTeX/Tests/run-workbench-tests.sh
Due: none

fix(updater): preserve upgrades from legacy Tauri clients
  .github/workflows/check.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Justfile
  ci/README.md
  ci/release-macos.sh
  ci/release-windows.ps1
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/Info.plist
  macos/README.md
  macos/build.sh
  windows/Installer/migrate.ps1
  windows/Installer/migration.nsi
  windows/README.md
  windows/Tests/Migration.Tests.ps1
  windows/scripts/build-migration.ps1
  windows/scripts/publish.ps1
  xtask/Cargo.toml
  xtask/src/legacy.rs
  xtask/src/lib.rs
  xtask/src/main.rs
  xtask/src/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

style(ui): align native UI polish across macOS and Windows
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/Views.cs
Due: none

feat(ui): rebuild the tray window as a compact workbench
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperModels.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperTheme.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayIcon.cs
  windows/BibCiTeX/Views.cs
Due: none
