Repository tangxiangong/bibcitex: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --all
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: dx-fmt
        name: dx fmt
        description: Format rsx macros
        entry: bash -c 'dx fmt'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-sort
        name: cargo sort
        description: Sort dependencies in Cargo.toml
        entry: bash -c 'cargo sort -w -o workspace,package'
        language: rust
        files: Cargo.toml
        args: []

chore(windows): upgrade SkiaSharp to 4.153.1
  windows/BibCiTeX/BibCiTeX.csproj
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
Due: none

fix(workbench): navigate references from the search field
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  macos/BibCiTeX/Tests/WorkbenchModelRegression.swift
  windows/BibCiTeX/MainWindow.cs
Due: none

fix(tray): replace helper reuse with independent workbenches
  Justfile
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperModels.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Tests/HelperViewModelRegression.swift
  macos/BibCiTeX/Tests/TrayWorkbenchRegression.swift
  macos/BibCiTeX/Tests/run-tray-tests.sh
  windows/BibCiTeX/App.xaml.cs
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayWindow.cs
Due: none

feat(libraries): persist edits and pinned library ordering
  crates/bibcitex-csharp/src/lib.rs
  crates/bibcitex-ffi/src/api.rs
  crates/bibcitex-ffi/src/records.rs
  crates/bibcitex-service/src/api.rs
  crates/bibcitex-service/src/records.rs
  crates/bibcitex-service/src/registry.rs
  macos/BibCiTeX/Sources/BibCiTeX/HelperModels.swift
  macos/BibCiTeX/Sources/BibCiTeX/RustCore.swift
  windows/BibCiTeX/RustCore.cs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(macos)!: align deployment settings and update change handlers
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  macos/Info.plist
Due: none

feat(desktop): add library menus and refine native branding
  assets/app-icons/tray-template.svg
  assets/app-icons/tray-windows.svg
  assets/app-icons/tray.ico
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/AppResources.swift
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/Resources/Icons/more.svg
  macos/BibCiTeX/Sources/BibCiTeX/Resources/Icons/pin.svg
  macos/BibCiTeX/Sources/BibCiTeX/Resources/Icons/rename.svg
  macos/BibCiTeX/Sources/BibCiTeX/SVGIcon.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  public/icons/more.svg
  public/icons/pin.svg
  public/icons/rename.svg
  public/icons/windows/more.svg
  public/icons/windows/pin.svg
  public/icons/windows/rename.svg
  windows/BibCiTeX/Assets/Icons/Dark/more.svg
  windows/BibCiTeX/Assets/Icons/Dark/pin.svg
  windows/BibCiTeX/Assets/Icons/Dark/rename.svg
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayIcon.cs
  windows/BibCiTeX/Views.cs
Due: none

fix(macos): align native deployment minimum at 14.0
  .cargo/config.toml
  README.md
  ci/README.md
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Tests/run-interop-tests.sh
  macos/BibCiTeX/Tests/run-regressions.sh
  macos/BibCiTeX/Tests/run-tray-tests.sh
  macos/BibCiTeX/Tests/run-workbench-tests.sh
  macos/README.md
Due: none

feat(i18n): add Chinese and English native interfaces
  Justfile
  localization/en.json
  localization/zh-Hans.json
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperTheme.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/L10n.swift
  macos/BibCiTeX/Sources/BibCiTeX/MainMenuLocalizer.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  macos/BibCiTeX/Tests/HelperViewModelRegression.swift
  macos/BibCiTeX/Tests/LocalizationRegression.swift
  macos/BibCiTeX/Tests/run-localization-tests.sh
  macos/BibCiTeX/Tests/run-regressions.sh
  macos/BibCiTeX/Tests/run-tray-tests.sh
  macos/BibCiTeX/Tests/run-workbench-tests.sh
  macos/en.lproj/InfoPlist.strings
  macos/zh-Hans.lproj/InfoPlist.strings
  windows/BibCiTeX/App.xaml.cs
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/DialogQueue.cs
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/L10n.cs
  windows/BibCiTeX/Localized.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/RustCore.cs
  windows/BibCiTeX/TrayIcon.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/BibCiTeX/Updater.cs
  windows/BibCiTeX/Views.cs
  windows/BibCiTeX/WindowInterop.cs
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/DialogQueueTests.cs
  windows/Tests/LocalizationTests.cs
  windows/Tests/Program.cs
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
Due: none

chore(ide): ignore Visual Studio caches and retain Xcode settings
  .gitignore
  macos/BibCiTeX.xcodeproj/project.pbxproj
Due: none

fix(windows): align native workbench interactions with macOS
  windows/BibCiTeX/AttachmentPath.cs
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/LibraryPicker.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/MiddleEllipsisText.cs
  windows/BibCiTeX/PaneThumb.cs
  windows/BibCiTeX/PathDisplay.cs
  windows/BibCiTeX/TextElision.cs
  windows/BibCiTeX/TrayIcon.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/BibCiTeX/Updater.cs
  windows/BibCiTeX/Views.cs
  windows/BibCiTeX/WorkbenchLayout.cs
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/Program.cs
  windows/Tests/UiBehaviorTests.cs
Due: none

fix(windows): keep localized menus and reference rows updated
  .github/workflows/check.yml
  localization/en.json
  localization/zh-Hans.json
  windows/BibCiTeX/App.xaml.cs
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/L10n.cs
  windows/BibCiTeX/LocalizationValue.cs
  windows/BibCiTeX/Localized.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/Program.cs
  windows/BibCiTeX/Strings/en-US/Resources.resw
  windows/BibCiTeX/Strings/zh-CN/Resources.resw
  windows/BibCiTeX/UpdateMarkdown.cs
  windows/BibCiTeX/Updater.cs
  windows/BibCiTeX/Views.cs
  windows/README.md
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/LocalizationTests.cs
  windows/Tests/NativeLocalizationTests.cs
  windows/Tests/Program.cs
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
Due: none

fix(windows): refresh selected filter labels when language changes
  windows/BibCiTeX/LocalizationValue.cs
  windows/BibCiTeX/Localized.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/Tests/NativeLocalizationTests.cs
Due: none

fix(windows): refresh library file selection explicitly
  windows/BibCiTeX/MainWindow.cs
Due: none

fix(workbench): persist pane visibility and simplify empty state
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  macos/BibCiTeX/Tests/WorkbenchModelRegression.swift
  windows/BibCiTeX/MainWindow.cs
Due: none

fix(ui): distinguish workbench sidebar and content backgrounds
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/App.xaml
  windows/BibCiTeX/MainWindow.cs
Due: none

chore(deps): upgrade native platform and release dependencies
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  Cargo.lock
  Cargo.toml
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  windows/BibCiTeX/BibCiTeX.csproj
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
  xtask/src/lib.rs
  xtask/src/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

fix(updates): prevent macOS downgrades and host WinUI tests
  Justfile
  macos/BibCiTeX/Sources/BibCiTeX/Updater.swift
  macos/BibCiTeX/Tests/UpdatePolicyRegression.swift
  macos/BibCiTeX/Tests/run-update-tests.sh
  windows/Tests/NativeLocalizationTests.cs
Due: none

fix(release): upload assets to published releases safely
  .github/workflows/release.yml
  ci/README.md
  docs/updates.md
  xtask/src/lib.rs
  xtask/src/main.rs
  xtask/src/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(release): resolve commit when initializing update feed
  xtask/src/lib.rs
  xtask/src/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(release): resolve commit when initializing update feed (#9)
  xtask/src/lib.rs
  xtask/src/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(windows): provision shared runtimes on demand
  .github/workflows/check.yml
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/Program.cs
  windows/BibCiTeX/WindowsRuntime.cs
  windows/README.md
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/Program.cs
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
  windows/Tests/WindowsRuntimeTests.cs
  windows/scripts/publish.ps1
Due: none

feat(compat): support macOS 13 and Windows 10 1809
  .cargo/config.toml
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  macos/BibCiTeX/Tests/run-interop-tests.sh
  macos/BibCiTeX/Tests/run-localization-tests.sh
  macos/BibCiTeX/Tests/run-regressions.sh
  macos/BibCiTeX/Tests/run-tray-tests.sh
  macos/BibCiTeX/Tests/run-update-tests.sh
  macos/BibCiTeX/Tests/run-workbench-tests.sh
  macos/README.md
  release-notes/0.7.0/en.md
  release-notes/0.7.0/zh-Hans.md
  windows/BibCiTeX/BibCiTeX.csproj
  windows/README.md
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
  windows/scripts/publish.ps1
Due: none

chore: delete unused docs
  docs/updates.md
Due: none

chore(tests): remove UI regression suites and test infrastructure
  .github/workflows/check.yml
  AGENTS.md
  CLAUDE.md
  Justfile
  macos/BibCiTeX/Tests/HelperViewModelRegression.swift
  macos/BibCiTeX/Tests/LocalizationRegression.swift
  macos/BibCiTeX/Tests/TrayWorkbenchRegression.swift
  macos/BibCiTeX/Tests/WorkbenchModelRegression.swift
  macos/BibCiTeX/Tests/run-localization-tests.sh
  macos/BibCiTeX/Tests/run-regressions.sh
  macos/BibCiTeX/Tests/run-tray-tests.sh
  macos/BibCiTeX/Tests/run-workbench-tests.sh
  macos/README.md
  windows/BibCiTeX/App.xaml.cs
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/Program.cs
  windows/README.md
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/DialogQueueTests.cs
  windows/Tests/FormulaTests.cs
  windows/Tests/LocalizationTests.cs
  windows/Tests/NativeLocalizationTests.cs
  windows/Tests/Program.cs
  windows/Tests/UiBehaviorTests.cs
  windows/Tests/UiSemantics/BibCiTeX.UiSemantics.csproj
  windows/Tests/UiSemantics/XamlCompilationBoundary.cs
Due: none

fix(icons): replace tray caret with a centered dot
  assets/app-icons/tray-dark.ico
  assets/app-icons/tray-light.ico
  assets/app-icons/tray-light.svg
  assets/app-icons/tray-template.svg
  assets/app-icons/tray-windows.svg
  assets/app-icons/tray.ico
  assets/bibcitex.fig
Due: none

feat(tray): add floating details and clickable citation keys
  macos/BibCiTeX/Sources/BibCiTeX/TrayPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  windows/BibCiTeX/TrayWindow.cs
Due: none

fix(ui): refine native icons and isolate interaction feedback
  AGENTS.md
  CLAUDE.md
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/SVGIcon.swift
  macos/BibCiTeX/Sources/BibCiTeX/SystemSurfaces.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/Views.cs
Due: none

feat(settings): add native preference windows on both platforms
  localization/en.json
  localization/zh-Hans.json
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  macos/BibCiTeX/Sources/BibCiTeX/Updater.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/App.xaml.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/SettingsWindow.cs
  windows/BibCiTeX/Updater.cs
Due: none

fix(windows): refine native window layout and rendering
  assets/app-icons/icon.ico
  assets/app-icons/windows-master.svg
  windows/BibCiTeX/FormulaRenderer.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/SettingsWindow.cs
  windows/BibCiTeX/Views.cs
  windows/BibCiTeX/WindowInterop.cs
Due: none

feat(about): display license on both native platforms
  macos/BibCiTeX/Sources/BibCiTeX/BibCiTeXApp.swift
  windows/BibCiTeX/MainWindow.cs
Due: none

feat(updates): add COS primary source with GitHub fallback
  .github/workflows/publish-cos.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Justfile
  ci/README.md
  ci/release-macos.sh
  macos/BibCiTeX/Sources/BibCiTeX/Updater.swift
  macos/README.md
  windows/BibCiTeX/UpdatePolicy.cs
  windows/BibCiTeX/UpdateSource.cs
  windows/BibCiTeX/Updater.cs
  windows/README.md
  windows/Tests/BibCiTeX.IntegrationTests.csproj
  windows/Tests/Program.cs
  windows/Tests/UpdateSourceTests.cs
  xtask/Cargo.toml
  xtask/src/cos.rs
  xtask/src/cos/tests.rs
  xtask/src/lib.rs
  xtask/src/main.rs
  xtask/src/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

fix(helper): restore cross-app paste and automatic copy fallback
  Cargo.lock
  Cargo.toml
  crates/xpaste/Cargo.toml
  crates/xpaste/src/macos.rs
  macos/BibCiTeX.xcodeproj/project.pbxproj
  macos/BibCiTeX/Sources/BibCiTeX/HelperModels.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/Info.plist
  macos/README.md
  windows/BibCiTeX/HelperWindow.cs
  windows/README.md
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

chore(release): prepare v0.7.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  macos/BibCiTeX.xcodeproj/project.pbxproj
  release-notes/0.7.1/en.md
  release-notes/0.7.1/zh-Hans.md
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/Updater.cs
  windows/README.md
Due: cargo-sort

fix(windows): include WinUI resources in publish output
  .github/workflows/check.yml
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/Build/Publish.targets
Due: none

docs(install): document Homebrew tap installation
  README.md
Due: none

fix(macos): keep main window hidden when opening helper
  macos/BibCiTeX/Sources/BibCiTeX/HelperPanelController.swift
Due: none

chore(release): prepare v0.7.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  macos/BibCiTeX.xcodeproj/project.pbxproj
  release-notes/0.7.2/en.md
  release-notes/0.7.2/zh-Hans.md
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/Updater.cs
  windows/README.md
Due: cargo-sort
