Repository tangxiangong/bibcitex: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

cargo-fmt:
  name: cargo fmt --all
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

dx-fmt:
  name: dx fmt
  description: Format rsx macros
  entry: bash -c 'dx fmt'
  language: rust
  args: []

cargo-sort:
  name: cargo sort
  description: Sort dependencies in Cargo.toml
  entry: bash -c 'cargo sort -w -o workspace,package'
  language: rust
  args: []

ci(release): update Homebrew after successful publication
  .github/workflows/update-homebrew.yml
  ci/README.md
Due: none

build(deps): upgrade HMAC and SHA-1 together
  Cargo.lock
  Cargo.toml
  xtask/src/cos.rs
  xtask/src/cos/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

build(deps): upgrade HMAC and SHA-1 together (#12)
  Cargo.lock
  Cargo.toml
  xtask/src/cos.rs
  xtask/src/cos/tests.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

test(linux): use a platform-native file URI fixture
  linux/src/files.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

ci: separate shared and native platform Rust test scopes
  .github/workflows/check.yml
  Justfile
Due: none

ci: preserve Justfile LF endings on Windows checkouts
  .gitattributes
Due: none

feat(ui): group the inspector toggle at the trailing toolbar edge
  linux/src/workbench.rs
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/MainWindow.cs
Due: cargo-fmt, cargo-clippy, dx-fmt

feat(macos): adopt tinycast-style glass panels across helper, tray and workbench
  localization/en.json
  localization/zh-Hans.json
  macos/BibCiTeX/Sources/BibCiTeX/HelperModels.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperTheme.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/SystemSurfaces.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayPanelController.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
Due: none

feat(ui): carry the macOS panel styling to Windows and Linux
  linux/src/workbench.rs
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/BibCiTeX/Views.cs
Due: cargo-fmt, cargo-clippy, dx-fmt

feat(library): mark libraries with missing files as unavailable
  crates/bibcitex-ffi/src/records.rs
  crates/bibcitex-service/src/records.rs
  crates/bibcitex-service/src/registry.rs
  linux/src/workbench.rs
  localization/en.json
  localization/zh-Hans.json
  macos/BibCiTeX/Sources/BibCiTeX/HelperModels.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperView.swift
  macos/BibCiTeX/Sources/BibCiTeX/HelperViewModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/RustCore.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/LibraryPicker.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/RustCore.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/BibCiTeX/Views.cs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(macos): show icons in the library action menu
  macos/BibCiTeX/Sources/BibCiTeX/SVGIcon.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
Due: none

feat(ui): title the reference detail panes and show BibTeX expanded
  linux/src/workbench.rs
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayWindow.cs
Due: cargo-fmt, cargo-clippy, dx-fmt

feat(ui): fold reference detail actions into their field rows
  linux/src/workbench.rs
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchModel.swift
  macos/BibCiTeX/Sources/BibCiTeX/TrayWorkbenchView.swift
  macos/BibCiTeX/Sources/BibCiTeX/WorkbenchView.swift
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/BibCiTeX/Views.cs
Due: cargo-fmt, cargo-clippy, dx-fmt

fix(windows): restore search cursors and unify plain input styling
  windows/BibCiTeX/HelperWindow.cs
  windows/BibCiTeX/MainWindow.cs
  windows/BibCiTeX/SearchTextBox.cs
  windows/BibCiTeX/TrayWindow.cs
  windows/BibCiTeX/Views.cs
Due: none

feat(updates): filter release announcements by platform
  .github/workflows/release.yml
  ci/README.md
  release-notes/README.md
  windows/scripts/publish.ps1
  xtask/src/lib.rs
  xtask/src/main.rs
  xtask/src/notes.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

chore(release): prepare version 0.7.3 for macOS and Windows
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  ci/README.md
  linux/README.md
  macos/BibCiTeX.xcodeproj/project.pbxproj
  release-notes/0.7.3/en.md
  release-notes/0.7.3/release-body.md
  release-notes/0.7.3/zh-Hans.md
  windows/BibCiTeX/BibCiTeX.csproj
  windows/BibCiTeX/Updater.cs
  windows/README.md
Due: cargo-sort

fix(ci): skip Linux client checks in disabled release builds
  .github/workflows/check.yml
  .github/workflows/release.yml
  ci/README.md
Due: none

docs: document roadmap and simplify README
  README.md
  TODO.md
Due: none

chore: exclude vendored macOS packages from language statistics
  .gitattributes
Due: none

chore: exclude vendored macOS packages from language statistics (#14)
  .gitattributes
Due: none

docs: add bilingual READMEs and clarify supported systems
  NOTICE
  README-zh.md
  README.md
Due: none

chore(deps): record Cargo sorting and refresh lockfile
  Cargo.lock
  Cargo.toml
  linux/Cargo.toml
  xtask/Cargo.toml
Due: cargo-sort

feat(search): enhance ordinary bibliography matching and ranking
  Cargo.lock
  Cargo.toml
  README-zh.md
  README.md
  TODO.md
  bindings/README.md
  crates/bibcitex-core/Cargo.toml
  crates/bibcitex-core/examples/search_benchmark.rs
  crates/bibcitex-core/src/core/search.rs
  crates/bibcitex-core/src/core/search/tests.rs
  crates/bibcitex-service/src/api.rs
  macos/BibCiTeX/Tests/RustInteropTests.swift
  windows/Tests/Program.cs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

chore(deps): upgrade x11rb to 0.14 and reqwest to 0.13
  Cargo.lock
  Cargo.toml
Due: cargo-sort

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  dx-fmt: any of: \.rs$
  cargo-sort: any of: Cargo.toml
