Repository tangxiangong/bibcitex: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

cargo-fmt:
  name: cargo fmt --all
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

dx-fmt:
  name: dx fmt
  description: Format rsx macros
  entry: bash -c 'dx fmt'
  language: rust
  args: []

cargo-sort:
  name: cargo sort
  description: Sort dependencies in Cargo.toml
  entry: bash -c 'cargo sort -w -o workspace,package'
  language: rust
  args: []

chore: update `dioxus@0.7.0-rc.1` to `dioxus@0.7.0-rc.2`
  Cargo.lock
  Cargo.toml
Due: cargo-sort

docs: Update download links to version 0.5.1
  README.md
Due: none

chore: Update Dioxus and related crates to 0.7.0-rc.3
  Cargo.lock
  Cargo.toml
Due: cargo-sort

chore: Remove bun.lock file and update dependencies in Cargo.toml and package.json
  Cargo.lock
  Justfile
  assets/tailwind.css
  bun.lock
  crates/updater/Cargo.toml
  crates/xpaste/Cargo.toml
  deno.json
  deno.lock
  package.json
Due: cargo-sort

Bump version to 0.5.2
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-sort

chore: Bump dioxus-cli to 0.7.0-rc.3 in release workflow
  .github/workflows/release.yml
Due: none

fix: Add `Win32_UI_Accessibility` feature to `windows-sys`
  crates/xpaste/Cargo.toml
Due: cargo-sort

Set package ecosystem to 'cargo' in dependabot config
  .github/dependabot.yml
Due: none

chore: update dependencies
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  deno.json
  deno.lock
Due: cargo-sort

Bump version to 0.5.3 and upgrade Dioxus
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-sort

Bump crates to 0.5.3 in Cargo.lock
  Cargo.lock
Due: none

Use Dioxus install script in CI
  .github/workflows/release.yml
Due: none

Rename prompt and update Dioxus 0.7 API
  prompts/AGENTS.md
  prompts/prompt-small.md
Due: none

Move `#[cfg(windows)]` into main and remove stub
  build.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

Update copyright range in about metadata
  src/main.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

Update `Cargo.lock` with dependency version bumps
  Cargo.lock
Due: none

chore: update dependencies
  Cargo.lock
Due: none

refactor: replace custom updater with release-hub dependency
  Cargo.lock
  Cargo.toml
  crates/updater/Cargo.toml
  crates/updater/src/builder.rs
  crates/updater/src/error.rs
  crates/updater/src/github.rs
  crates/updater/src/lib.rs
  crates/updater/src/macos.rs
  crates/updater/src/utils.rs
  crates/updater/src/windows.rs
  src/views/updater.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

fix: correct VSCode settings filename typo
  .vscode/settings.json
Due: none

chore: upgrade release-hub to v0.2 and remove semver dependency
  Cargo.lock
  Cargo.toml
  src/views/updater.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

chore: remove updater attribution from NOTICE and README
  NOTICE
  README.md
Due: none

chore: bump `fs-err` from 3.1 to 3.2
  Cargo.lock
  Cargo.toml
Due: cargo-sort

chore: bump `rfd` from 0.15 to 0.16
  Cargo.lock
  Cargo.toml
Due: cargo-sort

chore: update deps
  deno.lock
Due: none

chore: remove completed macOS NSPanel feature from roadmap
  README.md
Due: none

chore: update Tailwind CSS build output
  assets/tailwind.css
  input.tailwind.css
Due: none

refactor: remove reference component module
  src/components/reference.rs
  src/components/reference/article.rs
  src/components/reference/book.rs
  src/components/reference/booklet.rs
  src/components/reference/chunks_comp.rs
  src/components/reference/inbook.rs
  src/components/reference/incollection.rs
  src/components/reference/inproceedings.rs
  src/components/reference/misc.rs
  src/components/reference/mod.rs
  src/components/reference/selector.rs
  src/components/reference/techreport.rs
  src/components/reference/thesis.rs
  src/components/reference/unimplemented.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: modernize bibliography UI with card-based layout and enhanced styling
  src/components/bibliography.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: remove helper component module
  src/components/helper.rs
  src/components/helper/article.rs
  src/components/helper/book.rs
  src/components/helper/booklet.rs
  src/components/helper/inbook.rs
  src/components/helper/incollection.rs
  src/components/helper/inproceeding.rs
  src/components/helper/misc.rs
  src/components/helper/mod.rs
  src/components/helper/search.rs
  src/components/helper/selector.rs
  src/components/helper/techreport.rs
  src/components/helper/thesis.rs
  src/components/helper/unimplemented.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: modernize updater UI with enhanced styling and improved UX
  src/components/updater.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: modernize navigation bar with enhanced styling and improved drawer layout
  src/views/nav.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

chore: update Tailwind CSS build output
  assets/tailwind.css
Due: none

chore: migrate from `windows-sys` to `windows` crate (0.62.2)
  Cargo.lock
  crates/xpaste/Cargo.toml
  crates/xpaste/src/windows.rs
Due: cargo-fmt, cargo-clippy, dx-fmt, cargo-sort

refactor: modernize helper search UI with card-based layout and enhanced styling
  src/components/helper/search.rs
  src/components/helper/selector.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: modernize reference drawer UI with enhanced styling and improved layout
  src/components/reference/article.rs
  src/components/reference/book.rs
  src/components/reference/booklet.rs
  src/components/reference/inbook.rs
  src/components/reference/incollection.rs
  src/components/reference/inproceedings.rs
  src/components/reference/misc.rs
  src/components/reference/selector.rs
  src/components/reference/techreport.rs
  src/components/reference/thesis.rs
  src/components/reference/unimplemented.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: enhance helper search UI with cleaner styling and improved visual hierarchy
  src/components/helper/search.rs
  src/components/helper/selector.rs
  src/components/reference/selector.rs
  src/views/helper.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

refactor: localize bibliography and navigation UI text to Chinese
  src/components/bibliography.rs
  src/views/nav.rs
  src/views/reference.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

style: update SearchInput and SearchResults components for improved styling
  src/components/helper/search.rs
Due: cargo-fmt, cargo-clippy, dx-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  dx-fmt: any of: \.rs$
  cargo-sort: any of: Cargo.toml
